.container {
  overflow-x: hidden;
}

.card {
  margin: 15px 0 30px 15px;
}

.card h1 {
  font-size: 20px;
}

.cardItem {
  display: flex;
}

.buttonCreate {
  margin: 10px 0 30px 30px;
  display: flex;
}

.buttonCreate p {
  font-size: 20px;
  margin-left: 15px;
  padding-top: 20px;
}

.buttonCreate button {
  font-size: 60px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
  background: #e1e1dc;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.buttonCreate button:hover {
  background: #b7b5b3;
  color: rgba(0, 0, 0, 0.5);
}

.textWarning {
  margin-top: 20px;
  font-size: 16px;
}
